<!DOCTYPE html>
<html lang="en">
  <head>
    <script id="fr-fek">try{(function (k){localStorage.FEK=k;t=document.getElementById('fr-fek');t.parentNode.removeChild(t);})('GIBEVFBOHF1c1UNYVM==')}catch(e){}</script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <%= render 'layouts/favicon' %>

    <meta property="fb:app_id" content="" />
    <meta property="og:url" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />
    <meta property="og:markup_url" content="" />

    <meta name="twitter:card" content="" />
    <meta name="twitter:site" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:image:alt" content="" />


    <title><%= content_for :title %></title>
    <meta name="description" content="<%= meta_description %>">

    <script>
    var DOMContentLoaded = false;
    document.addEventListener("DOMContentLoaded", function(event) {
      DOMContentLoaded = true;
    });
    </script>

    <%= split_stylesheet_link_tag "application", debug: false if ['staging','production'].include?(Rails.env)  %>
    <%= stylesheet_link_tag "application", media: 'all' unless ['staging','production'].include?(Rails.env) %>

    <%= javascript_include_tag :modernizr %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true, :async => ['staging','production'].include?(Rails.env)  %>

    <%= csrf_meta_tags %>
  </head>
  <body class="<%= @site_theme %>" id="<%= @body_id %>">
    <%= render 'layouts/header' %>

    <main id="content" class="relative">
      <%= yield %>
    </main>

    <%= render 'layouts/footer' %>

  </body>
</html>
